<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SoSpri-the-page</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="css/pr_bbw.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#includedHeader").load("fragments/header.html");
        $("#includedFooter").load("fragments/footer.html");
      });
    </script>
  </head>
  <body>
    <div id="includedHeader"></div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <h4 style="margin-top: 30px">Dein Passwort ist abgelaufen</h4>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <!--/*@thymesVar id="memberFormData" type="ch.bbw.pr.sospri.member.MemberFormData"*/-->
                  <form
                    id="login-form"
                    method="post"
                    th:action="@{/change-password}"
                    th:object="${passwordChangeFormData}"
                  >
                    <div class="controls">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_name">Neues Passwort *</label>
                            <input
                              class="form-control"
                              data-error="Firstname is required."
                              id="form_name"
                              name="password"
                              placeholder="Please enter your password *"
                              required="required"
                              type="password"
                            />
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_lastname"
                              >Neues Password wiederholen *</label
                            >
                            <input
                              class="form-control"
                              data-error="Lastname is required."
                              id="form_lastname"
                              name="reppassword"
                              placeholder="Please repeat your password *"
                              required="required"
                              type="password"
                            />
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                      </div>
                      <input
                        class="btn btn-success btn-send"
                        type="submit"
                        value="Weiter"
                      />
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <b
                          th:errors="*{password}"
                          th:if="${#fields.hasErrors('password')}"
                        >
                          Password Error
                        </b>
                        <b
                          th:errors="*{reppassword}"
                          th:if="${#fields.hasErrors('reppassword')}"
                        >
                          Confirmation Error
                        </b>
                        <br />
                        <b th:text="*{message}"></b>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div style="height: 200px"></div>
          </div>
        </div>
      </div>
    </section>
    <div id="includedFooter"></div>
  </body>
</html>
