<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>SoSpri-the-page</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="css/pr_bbw.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#includedHeader").load("fragments/header.html");
        $("#includedFooter").load("fragments/footer.html");
      });
    </script>
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div id="includedHeader"></div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <h4 style="margin-top: 30px">Register</h4>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <!--/*@thymesVar id="memberFormData" type="ch.bbw.pr.sospri.member.MemberFormData"*/-->
                  <form
                    action=""
                    id="register-form"
                    method="post"
                    role="form"
                    th:action="@{/get-register}"
                    th:object="${memberFormData}"
                  >
                    <div class="messages"></div>
                    <div class="controls">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_name">Firstname *</label>
                            <input
                              class="form-control"
                              data-error="Firstname is required."
                              id="form_name"
                              name="name"
                              placeholder="Please enter your firstname *"
                              required="required"
                              th:field="*{prename}"
                              type="text"
                            />
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_lastname">Lastname *</label>
                            <input
                              class="form-control"
                              data-error="Lastname is required."
                              id="form_lastname"
                              name="surname"
                              placeholder="Please enter your lastname *"
                              required="required"
                              th:field="*{lastname}"
                              type="text"
                            />
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_password">Password *</label>
                            <input
                              class="form-control"
                              data-error="Valid password is required."
                              id="form_password"
                              name="password"
                              placeholder="Please enter your password *"
                              required="required"
                              th:field="*{password}"
                              type="password"
                            />
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_confirmation"
                              >Passwort confirmation *</label
                            >
                            <input
                              class="form-control"
                              data-error="Valid confirmation is required."
                              id="form_confirmation"
                              name="confirmation"
                              placeholder="Please enter your password*"
                              required="required"
                              th:field="*{confirmation}"
                              type="password"
                            />
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="g-recaptcha mb-3"
                               data-sitekey="6Ldu1YwbAAAAAJD4uy8G5pnQACN5i9iduTQmWEHa">
                          </div>
                          <input
                            class="btn btn-success btn-send"
                            type="submit"
                            value="Register"
                          />
                          <p></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <b
                            th:errors="*{prename}"
                            th:if="${#fields.hasErrors('prename')}"
                          >
                            Prename Error
                          </b>
                          <br />
                          <b
                            th:errors="*{lastname}"
                            th:if="${#fields.hasErrors('lastname')}"
                          >
                            Lastname Error
                          </b>
                          <b
                            th:errors="*{password}"
                            th:if="${#fields.hasErrors('password')}"
                          >
                            Password Error
                          </b>
                          <b
                            th:errors="*{confirmation}"
                            th:if="${#fields.hasErrors('confirmation')}"
                          >
                            Confirmation Error
                          </b>
                          <br />
                          <b th:text="*{message}"></b>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div style="height: 200px"></div>
          </div>
        </div>
      </div>
    </section>
    <div id="includedFooter"></div>
  </body>
</html>
